<div ng-controller="FruitCrudsController">

    <br/>
    <br/>

    <!-- SEARCH / CREATE-->
    <section>
        <input type="text" ng-model="filter" class="search-query pull-left" placeholder="Search a fruit">
        <button class="btn btn-default pull-left" ng-click="search()"> Search</button>
        <button ng-click="openModal('createFruitModal')" class="btn btn-success pull-right"><i class="icon-white icon-plus"></i> Create fruit </button>
    </section>
    <br/>
    <br/>

    <!-- LIST OF FRUITS -->
    <table ng-table="tableParams" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="fruit in searchedItems | orderBy:'name'">
            <td data-title="'Name'" width="60">
                <span>{{fruit.name}}</span>
            </td>
            <td data-title="'Text'" width="330">
                <span>{{fruit.designation}}</span>
            </td>
            <td data-title="'Actions'" width="100">
                <a class="btn btn-primary btn-xs">Edit</a>
                <a class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="createFruitModal">
        <div class="modal-header">
            <h3>User Form</h3>
        </div>
        <div class="modal-body">
            <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
            <form name="userForm" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" name="name" ng-model="user.name" type="text" placeholder="Name" class="input-xlarge" required=""  ng-class="{error: user.name.$invalid && !user.name.$pristine}"/>
                    </div>
                </div>



            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="save()" ng-if="user.id" ng-disabled="user.$invalid || !user.tnc" class="btn btn-primary"><i class="icon-white icon-plus"></i> Save</button>
            <button ng-click="add()" type="submit" ng-if="!user.id" ng-disabled="user.$invalid || !user.tnc" class="btn btn-primary"><i class="icon-white icon-plus"></i> Add</button>
            <button ng-click="closeModal()" class="btn">Cancel</button>
        </div>
    </script>


</div>
