<div ng-controller="FruitCrudsController">

    <br/>
    <br/>

    <!-- SEARCH / CREATE-->
    <section>
        <input type="text" ng-model="filter" class="search-query pull-left" placeholder="Search a fruit">
        <button class="btn btn-default pull-left" ng-click="search()"> Search</button>
        <button ng-click="openModal('#modalCreate')" class="btn btn-success pull-right"><i class="icon-white icon-plus"></i> Create fruit </button>
    </section>
    <br/>
    <br/>

    <!-- LIST OF FRUITS -->
    <table ng-table="tableParams" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="fruit in searchedItems | orderBy:'name'">
            <td data-title="'Name'" width="60">
                <span>{{fruit.name}}</span>
            </td>
            <td data-title="'Text'" width="330">
                <span>{{fruit.designation}}</span>
            </td>
            <td data-title="'Actions'" width="100">
                <a class="btn btn-primary btn-xs">Edit</a>
                <a class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div  ng-include src="'fruit/createFruitView.html'" > </div>

</div>
